# dataset
corpora/
data/
# binary
bin/
scan
test
infer
prob
eval
# work files
utils/
tools/*.py
results/
scripts/*.sh
.work/
.idea/
.backup/
*.pickle
out*
# allow
!tools/create_pseudo_data.py
!scripts/run_test.sh